.container {
    width: 342px;
    height: 410px;

    padding-left: 50px;
}

.storysticker1 {
    position: relative;

    top: -420px;
    left: 161px;
}

.storysticker2 {
    position: relative;

    top: -100px;
    left: -161px;
}