.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    line-height: 110px;
    letter-spacing: 0.15em;

    padding-top: 50px;
}

.titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.15em;
}

.storysubtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15vw;

    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;

    color: #6E9BC5;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0.15em;

    width: 90vw;
    height: 20vw;
    padding-top: 50px;

    color: #FFFFFF;

    white-space: pre-wrap;
}

.aboutbackground {
    z-index: -1;
    object-fit: cover;
}

.valuebox {
    padding: 16vw 0;
}

.valuecontainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10vw;
    padding-top: 10vw;
}

.valuegrid {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 10px 12vw;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.15em;
}

.valuedescription {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-weight: 100;
    font-size: 15px;
    line-height: 17.25px;
    letter-spacing: 0.15em;
}

.storycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;

    padding: 5vw 0;
}

.storydescriptioncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 800px;
    padding-left: 50px;
}

.storysubtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.15em;

    width: 800px;
}

.storydescription {
    height: 300px;
    width: 500px;
    margin: 0 7vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0.15em;

    color: #6792BA;
}

.testimonialscontainer {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 50vw;
}
