.container {
    height: 400px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 0 0 0;
}

.footercontainer {
    display: grid;
    grid-template-columns: 200px 200px 600px;
    grid-template-rows: 200px 100px 100px;
}

.footertitle {
    color: white;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.15em;

    margin: 20px 0;
}

.explorecontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
}

.exploreitemscontainer {
    display: flex;

    flex-direction: column;  
}

.exploreitem {
    text-decoration: none;

    color: white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    margin: 0 0 20px 0;
}

.portalcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
}

.portalitem {
    text-decoration: none;

    color: white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    cursor: pointer;
}

.newslettercontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
}

.newsletteritem {
    text-decoration: none;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    margin: 0 0 20px 0;
}

.newsletterform {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;
}

.newsletterinput {
    width: 331px;
    height: 53px;

    background: #FFF9F3;
    color: #6E9BC5;
}

.newsletterbutton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 133px;
    height: 53px;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.15em;

    border: 1px solid #FFF9F3;

    cursor: pointer;
}

.contactcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
    
    grid-column: 1 / span 3;
}

.contactitem {
    color: white;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    text-decoration: none;
}

.iconscontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    grid-column: 1 / span 2;
}

.icon {
    padding: 0 30px 0 0;
}

.copyrighttext {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    margin: 0 0 20px 0;
}