.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    padding: 100px 0;
  }

.imagecontainer {
    position: absolute;
    z-index: 2;

    width: 900px;
}
  
.imagetext {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    height: 100%;
    width: 100%;
    padding-right: 400px;
    /* background-color: #0e0e0e; */
    font-size: 50px;
    line-height: auto;
    letter-spacing: 0.15em;
  
    white-space: pre-wrap;
  }

  .destext {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;

    opacity: 0.8;
    margin: 40px 0;
    letter-spacing: 0.15em;
  }

  .button {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
  }

  .newsletterbutton {
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: #FFF9F3 solid;
    border-width: 1px 3px 3px 1px;
    color: #FFF9F3;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
  
    margin: 20px 0;
    width: 235px;
    height: 38px;
    border-radius: 5px; 

    cursor: pointer;
  }