.container {
    position: relative;
    width: auto;
    height: auto;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Helvetica;
    font-size: 90px;
    font-weight: 300;
    line-height: 103px;
    letter-spacing: 0.15em;

    width: 500px;
}

.titletext {
    text-align: end;

    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.15em;

    width: 475px;
    height: 90px;

    margin: 20px 0;
}

.titleoutercontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    height: 500px;

    padding: 100px 200px 0 0;
}

.titlecontainer {
    display: flex;

    flex-direction: column;

    width: 475px;
    height: 270px;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}
  
.imagetext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:#2C2B2BAD;
    font-size: 96px;
    line-height: 110px;
    letter-spacing: 0.15em;
    z-index: 2;
}

.descriptioncontainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    width: 1051px;

    margin: 0 100px 100px 100px;

    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 0.15em;
    text-align: left;
}

.listtext {
    list-style-type: circle;
}

.buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: #FFF9F3 solid;
    border-width: 1px 3px 3px 1px;
    color: #FFF9F3;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
  
    margin: 20px 0;
    width: 78px;
    height: 38px;
    border-radius: 5px; 
}