.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0.15em;
}
.linkcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 125px;

  height: 38px;
  width: auto;
}

.link {
  color: #333;
  text-decoration: none;

  padding: 0 10px;
  display: inline-block;

  top: 50vh;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;

  width: 90px;
}

.activelink {
    color: #6E9BC5;
    text-decoration: none;
  
    padding: 0 10px;
    display: inline-block;
  
    top: 50vh;
  
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;

    width: 90px;
}

.projectslink {
  color: #333;
  text-decoration: none;

  padding: 0 20px;
  display: inline-block;

  top: 50vh;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;

  width: 90px;
}

.projectsactivelink {
  color: #6E9BC5;
  text-decoration: none;

  padding: 0 20px;
  display: inline-block;

  top: 50vh;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;

  width: 90px;
}

.logocontainer {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  margin-right: 50px;
}

.logotext {
  color: #6E9BC5;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  font-weight: normal;

  width: 200px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: #6E9BC5 solid;
  border-width: 1px 3px 3px 1px;
  color: #6E9BC5;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.15em;

  margin: 20px;
  width: 103px;
  height: 38px;
  border-radius: 5px;
}

.languagecontainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 50px;
}

.languagebutton {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin: 0 7px;
}

.languagetext {
  color: black;
  padding-left: 5px;
}

