.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.1px;
  letter-spacing: 0.05em;
}
.linkcontainer {
  margin-right: 350px;
}

.link {
  color: #333;
  text-decoration: none;

  margin: 0 15px;
  display: inline-block;

  top: 50vh;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.logo {
  margin-left: 0;
  margin-right: auto;
}

