.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16.1px;
  letter-spacing: 0.05em;
}
.linkcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25vw;

  height: 38px;
  width: auto;
}

.link {
  color: #333;
  text-decoration: none;

  margin: 0 15px;
  display: inline-block;

  top: 50vh;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.activelink {
    color: #6E9BC5;
    text-decoration: none;
  
    margin: 0 15px;
    display: inline-block;
  
    top: 50vh;
  
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.logo {
  margin-left: 0;
  margin-right: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: #6E9BC5 solid;
  border-width: 1px 3px 3px 1px;
  color: #6E9BC5;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.15em;

  margin: 20px;
  width: 103px;
  height: 38px;
  border-radius: 5px;
}

